.new-spell-modal {
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.edit-effect-modal,.edit-parameter-modal {
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.edit-effect-value-modal {
    display: flex;
    flex-direction: column;

    padding: 1rem;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.spell-creation {
    display: flex;
    flex-direction: column;
}

.spell-creation-header {
    display: flex;
    flex-direction: column;
    flex: 1;

    overflow: hidden;
}

.spell-creation-first-row {
    justify-content: space-between;
}

.spell-creation-name-and-id {
    display: flex;
    flex-direction: column;
}

.spell-creation-name-and-id > * {
    margin-bottom: 0.5rem;
}

.spell-creation-thumbnail {
    width: 4.5rem;
    height: 4.5rem;
    object-fit: cover;
    cursor: pointer;
}

.spell-creation-targets {
    align-items: center;
    justify-content: space-between;
}

.spell-creation-replication {
    align-items: center;
    justify-content: space-between;
}

.spell-creation-blueprint-container {
    justify-content: space-between;
    align-items: center;

    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 1rem;
    border: thin solid white;

    background-color: rgb(30, 34, 49);
}

.spell-creation-blueprint-container svg {
    color: white
}

.spell-creation-parameter-container {
    justify-content: space-between;
    align-items: center;

    padding: 0.25rem 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 1rem;
    border: thin solid white;

    background-color: rgb(30, 34, 49);
}

.spell-creation-parameter-container svg {
    color: white
}

.spell-creation-blueprint-controls > * {
    margin-left: 1rem;
}

.spell-creation-parameter-controls > * {
    margin-left: 1rem;
}

.spell-creation-edit-blueprint {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.spell-creation-edit-blueprint-values {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.blueprint-value-cell {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin:  0 0 0.5rem 0.5rem;
    padding: 0.25rem 0.5rem;
    height: 1.4rem;
    min-width: 10rem;
    border-radius: 1rem;
    border: thin solid white;

    cursor: pointer;
}

.edit-thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2.5rem;
    flex-wrap: wrap;
}

.edit-thumbnail-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0rem 2rem;
    flex-basis: 100%; /* Make it take the full width of the row */
    order: 1; /* Place it in the second row */
}

.edit-thumbnail-preview video {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Ensure the video covers the entire area */
}
