.custom-spells {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.add-custom-spell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.custom-spells-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}

.custom-spells-list {
    list-style: none;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1;
}

.custom-spells-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 0.5rem 0.1rem 0.5rem;
}

.custom-spells-item:hover {
    background-color: rgb(34, 38, 57, 0.6);
}

.custom-spell-action {
    margin-right: 0.5rem;
}

/* Modal overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 50, 50, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-out;
}

.modal-overlay.fade-out {
    animation: fadeOut 0.3s ease-in forwards;
}

/* Modal content */
.modal-content {
    background-color: rgb(34, 38, 57);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    animation: fadeIn 0.3s ease-out;
    width: 60vw;
}

.modal-content.wide {
    width: 80vw!important;
}

.modal-content.fade-out {
    animation: fadeOut 0.3s ease-in forwards;
}

/* TODO: Update the modal-content text color once modal component has been migrated to MUI */
.modal-content p{
    color: white;
}

.modal-content .MuiTypography-root {
    color: white
}
/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fade-out animation */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
