.modal-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.spellbook-container {
    overflow: auto;
    padding-right: 1rem;
}

.spellbook-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spellgroup-list {
    list-style: none;
    padding: 0;
}

.spellgroup-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.spellgroup-list > li:hover {
    background-color: rgb(34, 38, 57, 0.6);
}

.spellgroup-item-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.spellbook-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.spellgroup-item-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.spellgroup-thumbnail {
    object-fit: contain;
    width: 1.25rem;
    height: 1.25rem;
}

.up-down-arrows {
    display: flex;
    flex-direction: column;
}
