@import "tailwindcss";

@theme {
  --color-panel-base: #222639;
  --color-panel-content: #2d3143;
  --color-panel-active: #9c81d8;
  --color-panel-inactive: #3d4051;
}

body, #root {
    margin: 0;
    padding: 0;
    background-color: var(--color-panel-base);
    color: white;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}